@page {
  size: A4;
  margin: 0;
}
body {
  font-family: Monaco, Monospace;
  text-align: center;
  margin: 40px;
}
.paper {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  background-color: #fff; 
  padding: 20px;
}
ul {
  list-style-type: none;
}
nav {
  background-color: #EDF1D6;
  color: #11ea5d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #000c06;
  text-decoration: none;
  font-size: 18px;

}

.button {
  background-color: #ffffffd5;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navMenu a {
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #9DC08B;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #9DC08B;
}

h1 {
  font-size: 36px;
  color: #609966;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #9DC08B;
  text-align: center;
}

h2 {
  padding: 10px;
  color: #609966;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #9DC08B;
}

h3 {
  padding: 10px;
  color: #609966;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #9DC08B;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto; /* Center-align the table */
  text-align: center;
  padding: 10px;
}

img {
  width: 30%;
  height: 50%;
  align-self: center;
}

video {
  width: 30%;
  height: 50%;
}

.small-image {
  width: 200px;
  height: 200px;
}
